.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsconfig.json
node_modules/**
!node_modules/@xenova/transformers/**
!node_modules/@mixmark-io/domino/**
!node_modules/onnxruntime-common/**
!node_modules/onnxruntime-node/**
!node_modules/onnxruntime-web/**
!node_modules/pdf-parse/**
!node_modules/sharp/**
!node_modules/detect-libc/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-string/**
!node_modules/color-name/**
!node_modules/simple-swizzle/**
!node_modules/semver/**
!node_modules/turndown/**

